*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


@font-face {
    font-family: Arvo;
    src: url("./Arvo/Arvo-Regular.ttf");
}
body{
    font-family: Arvo;
}
.herotext{
    font-family: Arvo;
}
#navbomb{
    background-color: rgb(247, 246, 249);
}
#listin li a{
    position: relative;
}
#listin li a:after{
    content: "";
    position: absolute;
    border-radius: 5px;
    background-color: rgba(31, 13, 70, 1);
    height: 5px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease-in-out;
}
#listin :hover::after{
    width: 100%;
    font-size: larger;
}
#listin{
    /* text-align: center; */
    gap: 30px;
    margin-left: 50%;
    font-size: 20px;
    font-weight: 500;
    color: rgba(31, 13, 70, 1);
}
#imager{
    width: 10%;
    margin-left: 40px;
}
#imager img{
    width: 60%;
}
#butto{
    color: rgba(31, 13, 70, 1);
    background-color: rgb(245, 249, 247);
}
#butto :hover{
    color: rgba(31, 13, 70, 1);
    
}
#butto span{
    color: rgb(255, 255, 255);
}
.navbar-toggler-icon{
    color: rgb(246, 246, 246);
}
.contain{
    background: url(./img/Rectangle\ 68.png) no-repeat center;
    background-size: cover;
    height: 25vh;
    width: 100%;
}
.contain h1{
    text-align: center;
    color: white;
    padding-top: 90px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
}
.textss{
    font-size:40px;
    font-weight: bolder;
}
.form-control{
    background-color: rgba(205, 225, 232, 1);
}
.list-group-item{
    background-color: rgba(205, 225, 232, 1);
    border: 2px solid black;
}
#line{
    /* border: 2px solid red; */
    width: 250px;
    height: 2px;
    background-color: white;
    font-weight: 700;
    margin-left: 43.5%;
}
.card{
    margin-top: 150px;
    /* border: 2px solid red; */
    /* background-color: green; */
}
#bgg{
    background-color: wheat;
}
.gp{
    display: flex;
    align-items: first baseline;
    gap: 10px;
}
.gp i{
    font-size: 20px;
}
.sos{
    display: flex;
    gap: 10px;
    align-items: first baseline;
    text-align: center;
}
.sos i{
    font-size: 20px;
}
.icons{
    display: flex;
    gap: 20px;
    font-size: 40px;
    margin-left: 35px;
    color: red;
}
/* .con{
    margin-top: 50px;
    width: 100%;
    height: 30vh;
    background-color: black;
} */
.cont{
    background-color: black;
    margin-top: 50px;
    padding-top: 30px;
}
.img{
    /* width: 20px;
    height: 10vh; */
    margin-left: 45%;
}
.img img{
    width: 80px;
    height: 50%;
}

.footicons{
    display: flex;
    gap: 20px;
    font-size: 40px;
    margin-left: 40%;
    color: red;
}
